* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --margin-bottom: 10px;
    --bg-nav: #13eedcf5;
    --bg-nav-menu: #4e6d06f6;
    --primary-color: #dbd3d3;
    --bg-color-main: #f7f8f7;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    line-height: 1.2;
    background-color: var(--bg-color-main);
}

h3,
p {
    margin-bottom: 20px;
}

.navbar {

    position: sticky;
    z-index: 0;
    top: -5rem;
    color: var(--bg-nav-menu);
    background-color: var(--bg-nav);
    animation: StickyNav 3s forwards;
    animation-range-start: 100vh;
    animation-range-end: 120vh;
    /* animation-timing-function: calc(100vh - 150px); */
}

.container {
    max-width: 1100px;
    margin-inline: auto;
    margin-bottom: var(--margin-bottom);
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    fill: currentColor;
}

.navbar .nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav-menu ul li a {
    margin-right: 2rem;
    text-decoration: none;
    color: var(--primary-color);
}

.header .container {
    animation: fade-out linear forwards;
    animation-timeline: view();
}

.hero {
    margin-inline: auto;
    /* max-width: 100%; */
    /* text-align: center; */
    overflow: hidden;
}

.hero .car1 {
    margin: 0 auto;
    text-align: center;
    /* padding-left: 4rem;
    padding-right: 4rem; */

}

.hero .car2 {
    margin: 0 auto;
    text-align: center;
}

.hero .car2 img {
    width: auto;
    opacity: 0;
    scale: 0.8;
    animation: image-animation 5s forwards;
    animation-direction: normal;
    animation-play-state: inherit;
    animation-timeline: view();
    /* animation-range-start: 500px;
    animation-range-end: 100px; */
    animation-range: entry 200px;
}


@keyframes StickyNav {

    100% {
        top: 0;
        color: var(--bg-nav);
        background-color: var(--bg-nav-menu);
    }
}

@keyframes fade-in {
    to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes fade-away {
    to {
        opacity: 0;
    }
}

@keyframes image-animation {
    25% {
        opacity: 1;
    }

    85%,
    100% {
        opacity: 0.8;
        scale: 3;
    }
}